body {
  background-color: #000000;
  font-size: 16px;
  color: white;}

.player {
  position: absolute;
  width: 99%;
  left: 0.5%;
  bottom: 5%;
  height: 90%;
  margin: auto;
  display: block;
  text-align: left;
  background-color: #15181a;}

  .queue_box {
    background-color: #2f353a;
    position: fixed;
    width: 98%;
    height: 70%;
    left: 1%;
    top: 7.5%;
    text-align: left;
    overflow-y:auto;
    font-size: 200%;
    visibility: collapse;}

    .queue_box .name {
      position: relative;
      width:100%;
      text-align: left;}

    .queue_box button {
      background: None;
      border-width: 0px;
      color: white;
      }

  .queue table {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 300%;}

  .queue_song {
    position: relative;
    width:100%;
    text-align: left;}

  .queue_delete {
    position: relative;
    width:10%}

  .current_title {
    background-color: None;
    text-align: center;
    position: absolute;
    top: 86%;
    left: 0%;
    height: 10%;
    width: 100%;
    vertical-align:middle;
    font-size: 150%;}

    .current_title button {
      background: None;
      border-width: 0px;
      color: white;}
    
    #volume {
      font-size: 150%;
      bottom: 100%}

    #forward {
      font-size: 102.5%;}

    #player_vol {
      visibility: hidden;}

    #title{
      border-right: 2px solid;
      border-color: white;
      text-align: right;
      width: 50%}

.cat_text {
  background-color: #15181a;
  position: fixed;
  top: 20%;
  left: 1%;
  width: 98%;
  font-size: 150%;
  height: 30%;
  text-align: center;
  overflow: scroll;}

.cat_text div {
  background-color: #15181a;
  position: relative;
  text-align: left;
  border-color: None;
  top: 10%;
  left: 1%;
  height: 50%;
  width: 98%;
  visibility: collapse;
  font-size: 75%;
  color: white;}

  .cat_text div button {
    background: None;
    border-width: 0px;
    color: white;
    width: 100%}

.song_table {
  background-color: #15181a;
  position: fixed;
  left: 0.5%;
  width: 98.5%;
  font-size: 150%;
  text-align: center;}

  .song_table table {
    background-color: #15181a;
    position: relative;
    text-align: left;
    border-color: None;
    top: 1%;
    height: 70%;
    width: 99%;
    visibility: collapse;}

  .song_table table tr:hover td {
    background: #2f353a;
    cursor: pointer;}

  #SD_table {
    position : fixed;
    visibility: collapse;}

  #N_table {
    position : fixed;
    visibility: collapse;}

  #TT_table {
    position : fixed;
    visibility: collapse;}

  #GI_table {
    position : fixed;
    visibility: collapse;}


.center {
  text-align: center;
  color: white;}

  .center button {
    background: None;
    border-width: 0px;
    color: white;
    font-size : 150%}

.frequency {
  text-align: center;
  background-color: #15181a;
  position: fixed;
  height: 60%;
  width: 40%;
  left: 0.5%;
  top: 1%;
  visibility: collapse;}

  .frequency table {
    background-color: #2f353a;
    position: fixed;
    width: 98%;
    height: 60%;
    left: 1%;
    top: 10%;
    text-align: center;
    font-size: 100%;}

  .frequency table th{
    position: relative;
    width: 50%;}

  .frequency button {
    position: fixed;
    background: None;
    border-width: 0px;
    color: white;
    font-size: 175%;
    left:0%;
    width:100%;
    top: 75%}

#headings {
  text-align: left;}

h2 {
  font-size: 100%;
  font-weight: 700;}

.btn {
  font-size: 1em;
  color: #ecf0f1;}

input[type=range]{
  width: 100%;
}

#dur_slider{
  position: relative;
  top: 82.5%;
  width: 99.9%}

#duration{
  position: absolute;
  right: 0%;}

#change_table{
  background: white;
  position: fixed;
  left: 50%;
  bottom: 20%;
  width: 10%;
  height: 10%;}

  #change_table table{
    visibility: collapse;
  }

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    height: 60%;
    vertical-align: bottom;
}

#player_label{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  left:0%;
  text-align: center;
  visibility: collapse;
  size: 200%;}

#frequency_label {
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  right:0.5%;
  text-align: center;
  visibility: collapse;
  size: 200%;}

.selector {
  position: fixed;
  width: 25%;
  background: None;
  text-align: center;
  border-width: 0px;
  color: white;
  bottom:1%;
  font-size: 250%}

.menu {
  width: 99%;
  text-align: center;
  bottom:1%;
}

#sel1 {
  position: fixed;
  left: 0%;
  bottom: 1%;}

#sel2 {
  position: fixed;
  left: 25%;
  bottom: 1%;}

#sel3 {
  position: fixed;
  left: 50%;
  bottom: 1%;}

#sel4 {
  position: fixed;
  left: 75%;
  bottom: 1%;}

#fin {
  width : 20%
}

#vin {
  width : 20%
}

.nav{
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 7.5%;
  background-color: #000000;}

.home {
  text-align: center;
  background-color: #15181a;
  position: fixed;
  height: 60%;
  width: 99%;
  left: 0.5%;
  top: 1%;
  visibility: visible;}

#home_label {
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  right:0.5%;
  text-align: center;
  visibility: visible;
  size: 200%;}

.nav_table {
  position: fixed;
  top: 7.5%;
  left: 1%;
  width: 98%;
  height: 65%;
  text-align: left;
  font-size: 100%;
  visibility: visible;
  color: white;
  background-color: #2f353a;}

.nav_table h2 {
  position: fixed;
  width: 98%;
  top: 70%;
  height: 2.5%;
  vertical-align: middle;
  background-color: #15181a;
  text-align: center;
  font-size: 150%;}

.nav_table h2 button {
  background: None;
  border-width: 0px;
  color: white;
  font-size: 175%;
}

#SD_text {
  position : fixed;
  visibility: visible;
  overflow: scroll;
  height: 65%;}

#N_text {
  position : fixed;
  visibility: collapse;
  overflow: scroll;
  height: 65%;}

#TT_text {
  position : fixed;
  visibility: collapse;
  overflow: scroll;
  height: 65%;}

#GI_text {
  position : fixed;
  visibility: collapse;
  overflow: scroll;
  height: 65%;}

#to_N {
  visibility: visible;}

#to_TT {
  visibility: collapse;}

#to_GI {
  visibility: collapse;}

#to_SD {
  visibility: collapse;}