body {
  background-color: #000000;
  font-size: 16px;
  color: white;}

.player {
  position: absolute;
  width: 19%;
  left: 0.5%;
  bottom: 1%;
  height: 98%;
  margin: auto;
  display: block;
  text-align: left;
  background-color: #15181a;}

  .queue_box {
    background-color: #2f353a;
    position: fixed;
    width: 18%;
    height: 70%;
    left: 1%;
    top: 10%;
    text-align: left;
    overflow-y:auto;
    font-size: 100%;}

    .queue_box .name {
      position: relative;
      width:100%;
      text-align: left;}

    .queue_box button {
      background: None;
      border-width: 0px;
      color: white;}

  .queue table {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 150%;}

  .queue_song {
    position: relative;
    width:100%;
    text-align: left;}

  .queue_delete {
    position: relative;
    width:10%}

  .current_title {
    background-color: None;
    text-align: center;
    position: absolute;
    top: 86%;
    left: 1%;
    height: 10%;
    vertical-align:middle;}

    .current_title button {
      background: None;
      border-width: 0px;
      color: white;}
    
    #volume {
      font-size: 150%;
      bottom: 100%}

    #forward {
      font-size: 102.5%;}

    #player_vol {
      visibility: hidden;}

    #title{
      border-right: 2px solid;
      border-color: white;
      text-align: right;
      width: 50%}

.cat_text {
  background-color: #15181a;
  position: fixed;
  left: 20.5%;
  width: 29%;
  font-size: 150%;
  text-align: center;}

.cat_text div {
  background-color: #15181a;
  position: relative;
  text-align: left;
  border-color: None;
  top: 1%;
  left: 20.5%;
  height: 98%;
  width: 29%;
  visibility: collapse;
  font-size: 75%;
  color: white;}

  .cat_text div button {
    background: None;
    border-width: 0px;
    color: white;
    width: 100%}

  #SD_text {
      position : fixed;
      visibility: visible;
      overflow: scroll;}

  #SD_text2 {
      position : fixed;
      visibility: collapse;
      overflow: scroll;}

  #N_text {
      position : fixed;
      visibility: collapse;
      overflow: scroll;}
  
  #N_text2 {
      position : fixed;
      visibility: collapse;
      overflow: scroll;}

  #TT_text {
    position : fixed;
    visibility: collapse;
    overflow: scroll;}

  #TT_text2 {
    position : fixed;
    visibility: collapse;
    overflow: scroll;}

  #TT_text3 {
    position : fixed;
    visibility: collapse;
    overflow: scroll;}

  #GI_text {
    position : fixed;
    visibility: collapse;
    overflow: scroll;}

  #GI_text2 {
    position : fixed;
    visibility: collapse;
    overflow: scroll;}

.song_table {
  background-color: #15181a;
  position: fixed;
  left: 50.5%;
  width: 60%;
  font-size: 150%;
  text-align: center;}

  .song_table table {
    background-color: #15181a;
    position: relative;
    text-align: left;
    border-color: None;
    top: 1%;
    height: 98%;
    width: 39%;
    visibility: collapse;}

  .song_table table tr:hover td {
    background: #2f353a;
    cursor: pointer;}

  #SD_table {
    position : fixed;
    visibility: visible;}

  #N_table {
    position : fixed;
    visibility: collapse;}

  #TT_table {
    position : fixed;
    visibility: collapse;}

  #GI_table {
    position : fixed;
    visibility: collapse;}


.center {
  text-align: center;
  color: white;}

  .center button {
    background: None;
    border-width: 0px;
    color: white;}

.frequency {
  text-align: center;
  background-color: #15181a;
  position: fixed;
  height: 98%;
  width: 9%;
  right: 0.5%;
  top: 1%}

  .frequency table {
    background-color: #2f353a;
    position: fixed;
    width: 8%;
    height: 70%;
    right: 1%;
    top: 10%;
    text-align: center;
    font-size: 100%;}

  .frequency table th{
    position: relative;
    width: 50%;}

  .frequency button {
    position: relative;
    background: None;
    border-width: 0px;
    color: white;
    font-size: 175%;
    top: 93.75%}

#headings {
  text-align: center;}

h2 {
  font-size: 100%;
  font-weight: 700;}

.btn {
  font-size: 1em;
  color: #ecf0f1;}

input[type=range]{
  width: 100%;
}

#dur_slider{
  position: relative;
  top: 82.5%;
  width: 98.5%}

#duration{
  position: absolute;
  right: 0%;}

#change_table{
  background: white;
  position: fixed;
  left: 50%;
  bottom: 20%;
  width: 10%;
  height: 10%;}

  #change_table table{
    visibility: visible;
  }

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    height: 75%;
    vertical-align: bottom;
}

#player_label{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 19%;
  left:0.5%;
  text-align: center;}

#frequency_label{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 9%;
  right:0.5%;
  text-align: center;}